body {
  background-color: darkslategray;
  margin: 16px;
  padding: 16px;
}

h1 {
  text-align: center;
  font-family: monospace;
  font-size: 96px;
  font-weight: 700;
  background-image: linear-gradient(to left, #04fdfd, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  border-bottom: 4px solid #000000;
}
img {
  border-radius: 50%;
  display: block;
  margin-left: 40%;
  margin-right: 40%;
  max-width: 25%;
  max-height: 25%;
  position: relative;
}
.column1 {
  width: 300px;
  float: left;
  color: white;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 60px;
  margin-left: 110px;
}

.column2 {
  width: 300px;
  margin-top: -370px;
  float: right;
  padding-bottom: 300px;
  color: white;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.column3 {
  margin-top: 400px;
  margin-left: 110px;
  font-family: 1rem;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  color: white;
}

.topten {
  margin-top: 400px;
  margin-left: 110px;
  font-family: 1rem;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.LinkedIn {
  border-radius: 50%;
  display: block;
  float: right;
  max-width: 15%;
  max-height: 15%;
  position: relative;
}

.navbar {
  margin: 10px;
  height: 31%;
  width: 150px;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.navbar a:hover {
  background-color: #555;
}

footer {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}

.button {
  margin: 10%;
  float: right;
}
